@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Sriracha&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
    --gradient-main:  radial-gradient(circle at top left, #3700ff, #c41515, #6600cc);
}


*{
    box-sizing: border-box;
}

body {
    height: max-content;
    max-width: 100vw;
    
}

.page {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    height: max-content;

}

.img {
    background: var(--gradient-main);
    /* background-color: #0000006e; */
    
}
.page__logo-container {
    margin: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.logo {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sriracha', cursive;
}


.bg-gradient {
    background-color: radial-gradient(circle at top left, #3700ff, #c41515, #6600cc);
}

.animation-focusWords, .animation-focusExpressions {
    animation: focus 1s;
    background-color: initial;
}
@keyframes focus {
    0% {
        background-color: transparent;
    }
    50%{
        background-color: rgb(230, 230, 201);
    }
    100%{
        background-color: transparent;
    }
}