@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Sriracha&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
    --background-dark: #0F172A;
    --background-light: #FFFFFF;

    --text-light-soft: #CFD1D4;
    --text-dark-soft: #B3BCC9;
    --text-light: #0F172A; 
    --text-dark: #E2E8F0;
}

*{
    box-sizing: border-box;
}

body {
    height: max-content;
    max-width: 100vw;
}

.page {
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
    height: max-content;
}
.page__logo-container {
    margin: 0;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.logo{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sriracha', cursive;
}